<!DOCTYPE html>
<html ng-app="leaderboard">
    <head>
        <title>AngularJS Leader Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="css/leaderboard.css"/>
    </head>
    <body>
        <div class="container" ng-controller="MainCtrl as main">
            <h3>Race to Awesome</h3>

            <table class="table edit">
                <thead>
                <tr>
                    <th>Lane</th>
                    <th>Contestant</th>
                    <th>Score</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contestant in main.contestants">
                    <td><input type="text" ng-model="contestant.lane" ng-blur="main.updateContestant(contestant)"/></td>
                    <td><input type="text" ng-model="contestant.name" ng-blur="main.updateContestant(contestant)"/></td>
                    <td><input type="text" ng-model="contestant.score" ng-blur="main.updateContestant(contestant)"/></td>
                    <td>
                        <button type="button" class="btn btn-link" ng-click="main.removeContestant(contestant)">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="well">
                <h4>Add Contestant</h4>

                <form class="form-inline" role="form" novalidate ng-submit="main.addContestant()">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="main.newContestant.lane" placeholder="Enter lane">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="main.newContestant.name" placeholder="Contestant Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="main.newContestant.score" placeholder="Contestant Score">
                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
        </div>


        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar-full.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="//cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

        <script src="js/leader-board.js"></script>
    </body>
</html>