<!DOCTYPE html>
<html ng-app="leaderboard">
    <head>
        <title>AngularJS Leader Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="css/leaderboard.css"/>
    </head>
    <body>
        <div class="container" ng-controller="MainCtrl as main">
            <select class="form-control" ng-model="main.currentContestant"
                    ng-options="contestant.name for contestant in main.contestants">
                <option value="">Choose an Athlete</option>
            </select>

            <div class="well remote" ng-hide="!main.currentContestant">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Lane</th>
                        <th>Contestant</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{main.currentContestant.lane}}</td>
                        <td>{{main.currentContestant.name}}</td>
                        <td>{{main.currentContestant.score}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="main.incrementScore()">Add One</button>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="main.decrementScore()">Minus One</button>
                </div>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar-full.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="//cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

        <script src="js/leader-board.js"></script>
    </body>
</html>



